* {
    color: #02020a;
    border-color: #e1e2ef;
}

html {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border: 1px solid;
    height: 95%;
    padding: 0%;
    background-color: #bfacaa;
}

html element {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    text-align: center;
    vertical-align: auto;
}

html nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1%;
}

html nav a {
    display: flex;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid;
}

.current {
    text-decoration: underline;
}

body {
    margin: 0;
    height: 100%;
    background-color: white;
}

h1 {
    margin: 0;
}

header,
#main-nav {
    background-color: #6200ee;
    padding: 2% 0;
}

header h1,
#main-nav {
    color: white;
    border-color: #3700b3;
}

body p:first-of-type {
    padding-bottom: 2%;
    border-bottom: 2px dotted black;
}
