ul {
    width: 100%;
}

#navigation,
#navigation * {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}

#navigation li {
    position: relative;
    float: left;
    border: 1px solid #c0c0c0;
}

#navigation li ul {
    position: absolute;
    top: 20px;
    left: 0;
    display: none;
}

#navigation li:hover ul {
    display: block;
}

#navigation li ul li {
    border: 1px solid #c0c0c0;
    display: block;
    width: 150px;
}
